* {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(20, 20, 20);
    color: hsl(0, 0%, 100%);
    overflow:hidden;
}

body.enter {
    animation: slideFromRight 1s forwards;
}

body.leave {
    animation: slideToLeft 1s forwards;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

.subtitle{
    margin-left: 5vw;
}

.container {
    padding: 10px 1%;
}

.portfolio-container {
    /* padding: 10px 1%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.container h1 {
    font-family: 'MyFont';
    src: url('images/Hansief Rough.otf') format('opentype');
    font-weight: bolder;
    margin-left: 5%;
    font-size: 35px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    font-weight: 550;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.projects{
    margin-right: 5vw;
    text-align: center;
}

.line-arteis-top, .line-roboboat-top, .line-ftc-top, .line-stock-top, .line-black-scholes-top,
.line-nba-top, .line-minecraft-top, .line-unity-top, .line-certificates-top{
    opacity: 0.4;
    height:0.1vh;
    width: 30vw;
    margin-top: 2.25vh;
    transition: 0.35s ease; 
    background: white;
}

.line-certificates-top, .line-certificates-bottom{
    opacity: 1;
    height:0.1vh;
    width: 30vw;
    margin-top: 2.25vh;
    transition: 0.35s ease; 
    background: white;
}

.arteis{
    transition: 0.35s ease;
    opacity: 0.4;
    margin-top: 2.25vh;
}

.roboboat{
    transition: 0.35s ease;
    opacity: 0.4;
    margin-top: 2.25vh;
}

.ftc{
    opacity: 0.4;
    transition: 0.35s ease;
    margin-top: 2.25vh;
}

.stock{
    opacity: 0.4;
    transition: 0.35s ease;
    margin-top: 2.25vh;
}

.nba{
    opacity: 0.4;
    transition: 0.35s ease;
    margin-top: 2.25vh;
}

.minecraft{
    opacity: 0.4;
    transition: 0.35s ease;
    margin-top: 2.25vh;
}

.unity{
    opacity: 0.4;
    transition: 0.35s ease;
    margin-top: 2.25vh;
}

.black-scholes{
    transition: 0.35s ease;
    opacity: 0.4;
    margin-top: 2.25vh;
}

.certificates{
    transition: 0.35s ease;
    opacity: 1;
    margin-top: 2.25vh;
}

.content{
    /* float: left; */
    margin-left: 5vw;
    margin-top: 6vh;
    z-index: -1;
    height: 70vh;
}

.top-box{
    margin-top: -3vh;
    background-color: rgb(25,25,25);
    width: 55vw;
    height: 15vh;
    border-radius: 5vb;
}

.box{
    margin-top: 5vh;
    background-color: rgb(25,25,25);
    height: 15vh;
    border-radius: 5vb;
}

.penn{
    float:left;
    width: 12%;
    height:12%;
}

.header{
    margin-left: 1.5vw;
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vb;
    font-weight: bolder;
}

.ibm {
    float:left;
    width:8%;
    height: 8%;
    margin-top: 9.25vh;
    margin-left: 1vw;
}

.issuer-ibm{
    margin-top: 2.5vh;
    margin-left: 9.6vw;
}

.header-ibm{
    margin-left: 9.5vw;
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vb;
    font-weight: bolder;
}

a img{
    width: 5%;
}

.meta {
    float:left;
    width:10%;
    height: 10%;
    margin-top: 7vh;
    margin-left: 0.25vw;
}

.header-meta{
    margin-left: 2.5vw;
    padding-top: 2vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5vb;
    font-weight: bolder;
}

.issuer{
    /* margin-top: 2.5vh; */
    margin-left: 1.5vw;
}

.arteis-img{
    margin-top: -3vh;
    border-radius: 10%; 
    width: 55vw;
    animation: slide-up 1s;
}

.black-img{
    margin-top: -3vh;
    border-radius: 10%; 
    width: 55vw;
    animation: slide-up 1s;
}

@keyframes slide-up {
    from {
        margin-top: 100%;
    }

    to {
        margin-top: 0%;
    }
}

.arrow{
    margin-top: 1vh;
    float: right;
}

.roboboat-img{
    margin-top: -3vh;
    border-radius: 10%; 
    width: 55vw;
    height: 75vh;
    animation: slide-up 1s;
}

.ftc-img{
    margin-top: -3vh;
    border-radius: 10%; 
    width: 55vw;
    height: 75vh;
    animation: slide-up 1s;
}

.stock-img{
    margin-top: -3vh;
    border-radius: 10%; 
    width: 55vw;
    animation: slide-up 1s;
}

/* .arteis:hover, .arteis:hover ~ .line-arteis-top:hover, .roboboat:hover, .ftc:hover, .stock:hover, .nba:hover, .minecraft:hover, 
.unity:hover, .black-scholes:hover, .certificates:hover{
    opacity:1;
    text-shadow: 0 0 15px rgba(255,255,255);
} */