*{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

body{
    background: rgb(20,20,20);
    color: hsl(0, 0%, 100%);
}

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/me.jpg); */
    background-size: cover;
    background-position: left;
}

.container{
    padding: 10px 1%;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

a{
    color:#fff;
    font-weight: 550;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

a::after{
    content: '';
    width: 0%;
    height: 3px;
    background:#fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

a:hover::after{
    width: 100%;
}

.hyper {
    font-size: 2.95vb;
}

.header-text{
    margin-top: 10%;
    margin-left: 10%;
    font-size: 50px;
    color:white;
    font-weight: bolder;
}

.header-text h1{
    margin-top: 10px;
    font-size: 50px;
}

.about-col-2 b{
    color: cornflowerblue;
    font-weight: 10000;
}

#about{
    z-index: 1;
    padding: 80px 0px;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    /* z-index: 1; */
    flex-basis: 35%;
    /* position: relative; */
    /* z-index: 100; */
}

.about-col-1 img{
    width: 100%;
    border-radius: 50px;
}

.about-col-2{
    flex-basis: 62%;    
    color:white;
    line-height: 2;
    font-size: 2.95vb;
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: cornflowerblue;
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

#portfolio{
    padding: 0px 5%; 
}
